@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap');

body{
	margin:0px;
}
.profile{
	background-image: url("milky_way.jpg");
	padding: 40px;
}
#title{
	color: white;
	font-family: 'Contrail One', cursive;
	font-size: 60px;
}
#desc{
	color: white;
}

.biodata, .education, .experience, .contact{
	font-family: 'Muli', sans-serif;
	font-size: 18px;
}
.biodata{
	background: rgba(0,0,0,0.7);
	padding: 5px;
	color: white;
	font-size: 20px;
}
#name{
	color: white;
	font-family: 'Contrail One', cursive;
	font-size:35px;
}
.education, .experience{
	color: white;
	background-image: url("giphy.gif");
	padding: 10px;
}
.contact{
	color: black;
	background: yellow;
	padding: 10px;
}
#head-edu, #head-exp, .contact{
	color: black;
	background: yellow;
	padding: 10px;
	font-size: 22px;
	font-weight: bolder;
}
ul{
	background: rgba(0,0,0,0.7);
	padding:5px;
	margin-left: 50px;
	margin-right: 50px;
}
table{
	border-spacing: 20px;
}